.todo-wrapper {
  width: 300px;
  margin: 10px;
}

.todo-item {
  margin: 10px;
}

.todo-task {
  float: left;
  margin: 10px;
}

.todo-category {
  float: left;
  margin: 10px;
  background-color: aquamarine;
}