.todo-wrapper {
  width: 100%;
  margin: 10px;
}

.todo-item {
  margin: 10px;
}

.todo-task {
  float: left;
  margin: 0 10px;
}

.todo-category {
  float: left;
  margin: 0 10px 0 0;
  background-color: aquamarine;
}

.category {
  float: left;
  margin: 0 5px;
}

.category-selected {
  float: left;
  margin: 0 5px;
  background-color: yellow;
}